* {
  background: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #f7f7f7;
  color: #333;
  height: 100%;
  max-width: 100dvw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

a {
  color: inherit;
  text-decoration: none;
}
